PORT=3002
MONGO_URI=mongodb://localhost:27017/ecom
REDIS_URL=redis://localhost:6379
JWT_SECRET=your_jwt_secret_here
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
